$color-primary: #2277cc;
$color-secondary:  rgba(#2277cc,0.7);
$primary-color-hover: #009ceb;
$text-color:#333;
$text-price-color: #d26e4b;
$text-color-secondary: rgba(#333,0.7);
$site-bg-color:  rgba(black,0.6);

//#e1e1e1
//#eee
//#e9e9e9


    