.home-page {
    ul {
        padding-left: 0px;
    }

    [class*="list-product-"] {
        margin: 5rem 0px;
    }

    .main-title {
        color: #222;
        position: relative;
        text-align: center;
        b {
            font-size: 200%;
            opacity: 0.08;
        }
        em {
            position: absolute;
            font-style: inherit;
            font-size: 1.8rem;
            font-weight: 700;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
   
    .advertising-banner {
        margin: 5rem 0px;
    }
}
