.top-banner {
    > [class*="item-banner-"] {
        margin-top: 5.1rem;
    }
    position: relative;
    width: 100%;
    height: 100vh;
    .control-dots {
        padding: 0px 5rem;
        position: absolute;
        bottom: 10%;
        right: 0%;
        transform: translateY(0%);
        z-index: 998;
        ul {
            display: flex;
            align-items: center;
            li.item-dot {
                cursor: pointer;
                width: 9rem;
                height: 6rem;
                overflow: hidden;
                object-fit: cover;
                border: 3px solid var(--dark-secondary);
                transition: all 0.3s ease;
                video,
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item-dot.selected {
                border: 3px solid var(--white);
            }
        }
    }
}

@keyframes animateBackInTop {
    from {
        transform: translate(0%, -100%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes animateBackInLeft {
    from {
        transform: translate(-100%, 0%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0);
        opacity: 1;
    }
}
@keyframes animateZoomOut {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
