.item-search-result {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    padding: 20px 0px;
    border-bottom: 1px solid var(--border-light);
    &:last-child {
        border-bottom: none;
    }
    .img-product {
        position: relative;
        width: 65px;
        height: 65px;
        overflow: hidden;
        object-fit: cover;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            object-fit: cover;
        }
    }
    .content {
        transition: all 0.3s ease;

        .product-name {
            font-weight: 500;
            transition: all 0.3s ease;
            p {
                font-size: 0.85rem;
            }
        }
        .price {
            p {
                font-size: 0.8rem;
            }
        }
    }
    &:hover {
        transform: translateX(5%);
        .content {
            .product-name {
                color: var(--primary);
            }
        }
    }
}