.item-banner-03 {
    //animation: animateBackInLeft 1.5s .5s forwards;
    //animation: animateBackInLeft 0.5s forwards;
    animation: animateZoomOut 4s 0s forwards;
    position: relative;
    z-index: 998;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    background-color: #222;
    video {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .blur{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(43, 151, 223, 0.3);
        z-index: 2;
    }
    .container {
        position: relative;
        padding: 0px 5rem;
        width: 100%;
        height: 100%;
        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            z-index: 3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //background-color: antiquewhite;

            h2.categories {
                color: var(--white);
                font-size: 1.9rem;
                font-weight: 600;
                animation: animateBackInTop 1.5s 0.7s forwards;
                opacity: 0;
            }
            h1.subject {
                color: var(--white);
                font-size: 3.7rem;
                font-weight: 800;
                animation: animateBackInTop 1.5s 0.6s forwards;
                opacity: 0;
            }
            h4.event {
                color: var(--white);
                padding: 0px 5rem;
                font-size: 1.15rem;
                font-weight: 400;
                animation: animateBackInTop 1.5s 0.5s forwards;
                opacity: 0;
            }
            .btn-shop-now {
                color: var(--white);
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary);
                border-radius: 5px;
                width: 10rem;
                height: 3.6rem;
                transition: all 0.3s ease;
                animation: animateBackInLeft 1.5s 1s forwards;
                cursor: pointer;
                opacity: 0;
                p {
                    font-size: 0.85rem;
                }
                &:hover {
                    background-color: rgba(#2277cc, 0.8);
                }
            }
        }
    }
}
