.item-filter-categories {
    .menu {
        a{
            text-decoration: none;
        }
        animation: animateBackInTopMenu 0.5s 0s forwards;
        transition: all 0.5s ease;
        p {
            padding: 15px 0px;
            font-size: 0.85rem;
            border-bottom: 1px solid #eee;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                color: var(--primary);
                font-weight: 500;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

@keyframes animateBackInTopMenu {
    from {
      transform: translate(0%, -20%);
      opacity: 0;
    }
    to {
      transform: translate(0%, 0);
      opacity: 1;
    }
  }