@import "../../../assets/scss/media";


.categories-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    //height: 500vh;
    .container {
        margin-top: 2rem;

        .body-content {
            width: 100%;
            .slider-bar {
                padding-right: 30px;
                .path {
                    padding: 0px 0px 1.5rem 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p {
                        font-size: 0.85rem;
                    }
                    i {
                        font-size: 0.8rem;
                        color: var(--body-text);
                    }
                    [class*="fa-chevron"] {
                        font-size: 0.6rem;
                        color: var(--body-text);
                    }
                    p.title {
                        color: var(--body-text);
                    }
                    p.categories {
                    }
                }
                .filter-product {
                    [class*="item-filter-"] {
                        padding: 25px 0px;
                        border-top: 3px solid #eee;
                        .title {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            transition: all 0.3s ease;
                            p {
                                font-size: 1.12rem;
                                font-weight: 600;
                            }
                            i.minus {
                                position: relative;
                                font-size: 13px;
                                transition: all 0.3s ease;
                                &::after {
                                    position: absolute;
                                    top: 0%;
                                    left: 0%;
                                    transform: translate(0%, 0%) rotate(0deg);
                                    content: "\f068";
                                    font-family: "Font Awesome 6 Free";
                                    transition: all 0.3s ease;
                                }
                            }
                            i.minus.show {
                                &::after {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(90deg);
                                    content: "\f068";
                                    font-family: "Font Awesome 6 Free";
                                }
                            }
                        }
                        .menu {
                            animation: animateBackInTopMenu 0.5s 0s forwards;
                            transition: all 0.5s ease;
                        }
                    }
                }
                .render-list-products {
                    background-color: cadetblue;
                }
                .list-product-recommend {
                    padding: 25px 0px;
                    border-top: 3px solid #eee;
                    .title {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.3s ease;
                        p {
                            font-size: 1.12rem;
                            font-weight: 600;
                        }
                    }
                    .list-product {
                        > .item-product {
                            //margin: 2rem 0px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px 0px;
                            .img-product {
                                width: 90px;
                                height: 100px;
                                margin-right: 10px;
                                .badge {
                                    display: none;
                                }
                            }
                            .content {
                                .box-option {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .right {
                //margin-top: 2.65rem;

                .filter-grid {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 2rem 0px 0px 0px;
                    i {
                        cursor: pointer;
                        font-size: 22px;
                        margin-right: 10px;
                        color: var(--body-text);
                    }
                }
                .list-products {
                    padding: 3rem 0px;
                    .render-list-products {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        //grid-template-rows: repeat(5, 20vw);
                        // grid-gap: 5px;
                        grid-column-gap: 10px;
                        grid-row-gap: 35px;
                        @include lg {
                            grid-template-columns: repeat(2, 1fr);
                        }
                        @include xl {
                            grid-template-columns: repeat(3, 1fr);
                        }
                        @include xxl {
                            grid-template-columns: repeat(4, 1fr);
                        }

                        > .item-product {
                            //padding: 0px 8px;
                            //margin: 2rem 0px;
                        }
                    }
                }
            }
        }
    }
}

input[name="grid"][value="1"]:checked ~ .render-list-products {
    display: grid;
    grid-template-columns: auto;
    > .item-product {
        margin: 0.3rem 0px;
        display: flex;
        flex-direction: row;
        //align-items: center;
        .img-product {
            margin-right: 20px;
            width: 26%;
            min-width: 230px;
            min-height: 230px;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 70%;
            .product-name {
                p {
                    font-size: 1.1rem;
                    color: #222;
                    font-weight: 600;
                }
            }
            .price {
                p {
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--primary);
                }
            }
            .point {
                display: flex;
                align-items: center;

                .rate {
                    i {
                        font-size: 0.7rem;
                    }
                }
                .reviews-number {
                    p {
                        font-size: 0.7rem;
                        color: var(--body-text);
                    }
                }
            }
            .box-option {
                i {
                    font-size: 1.125rem;
                }
                .btn-select-options,
                .btn-add-to-cart {
                    cursor: pointer;
                    width: 8.625rem;
                    height: 2.6875rem;
                    p {
                        font-size: 0.82rem;
                    }
                }
            }
            .description {
                display: inline;
                margin-bottom: 20px;
                font-size: 0.875rem;
                color: var(--body-text);
            }
        }
    }
}

input[name="grid"][value="3"]:checked ~ .render-list-products {
    display: grid;
    grid-template-columns: auto auto auto;
    > .item-product {
        margin: 2rem 0px;
        > .img-product {
            height: 320px;
        }
    }
}
input[name="grid"][value="4"]:checked ~ .render-list-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    > .item-product {
        margin: 2rem 0px;
    }
}
input[name="grid"] {
    display: none;
}

input[name="grid"][value="1"]:checked ~ .filter-grid label[for="grid-1"],
input[name="grid"][value="3"]:checked ~ .filter-grid label[for="grid-3"],
input[name="grid"][value="4"]:checked ~ .filter-grid label[for="grid-4"] {
    i {
        color: #222;
    }
}
