.item-banner-02 {
    //animation: animateBackInLeft 1.5s .5s forwards;
    //animation: animateBackInLeft 0.5s forwards;
    animation: animateZoomOut 4s 0s forwards;
    position: relative;
    z-index: 998;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    background-color: #222;
    img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(0.5px);
    }
    .content {
        text-align: left;
        padding: 0px 10rem;
        z-index: 2;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0, -40%);
        width: 50%;
        //background-color: antiquewhite;
       
        h2.categories {
            color: #222;
            font-size: 1.9rem;
            font-weight: 700;
            animation: animateBackInTop 1.5s 0.7s forwards;
            opacity: 0;
        }
        h1.subject {
            width: 100%;
            color: var(--white);
            font-size: 3.1rem;
            font-weight: 800;
            animation: animateBackInTop 1.5s 0.6s forwards;
            opacity: 0;
        }
        h4.event {
            //color: var(--primary);
            color: var(--title-text);
            font-size: 1.25rem;
            font-weight: 600;
            animation: animateBackInTop 1.5s 0.5s forwards;
            opacity: 0;
        }
        .btn-shop-now {
            color: var(--white);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #222;
            border-radius: 5px;
            width: 11rem;
            height: 3.7rem;
            transition: all 0.3s ease;
            animation: animateBackInLeft 1.5s 1s forwards;
            cursor: pointer;
            opacity: 0;
            p {
                font-size: 0.85rem;
            }
            &:hover {
                background-color: rgba(#222,0.9);
            }
        }
    }
    .blur {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.8));
        //background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    }
}
