@import "../../assets/scss/media";

.auth-page {
    //width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 5rem 0rem;
    overflow-y: scroll;
    overflow-x: hidden;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
        width: 300px;
        //margin-bottom: 2rem;

        @include md {
            width: 400px;
        }

        @include lg {
            width: 35rem;
            max-width: 500px;
        }
        text-align: center;
        //margin-top: 3.5rem;
        p {
            color: var(--body-text);
            font-size: 1rem;
        }
        .subject {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--title-text);
        }
    }

    .content {
        //background-color: bisque;
        //height: 70%;
        padding: 3rem 0px 0px 0px;
        form {
            .input-item {
                width: 100%;
                padding: 10px 0px 0px 0px;
                label {
                    p {
                        font-weight: 500;
                        font-size: 0.9rem;
                    }
                }
                .inputbox {
                    position: relative;
                    width: 100%;
                    padding: 5px 30px 5px 15px;
                    border-radius: 5px;
                    background: var(--border-light) !important;
                    input {
                        font-family: "Plus Jakarta Sans", sans-serif;
                        margin-left: 25px;
                        width: 100%;
                        height: 2.7rem;
                        font-size: 0.9rem;
                        border: none;
                        background: var(--border-light) !important;
                        transition: all 0.2s ease;
                        &:focus::placeholder {
                            color: #b3b3b3;
                        }
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translate(0, -50%);
                        font-weight: 500;
                        color: var(--body-text);
                    }
                }
            }
            .item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0px;
                label {
                    p {
                        font-weight: 500;
                        font-size: 0.9rem;
                    }
                }
                .check-box,
                .remember {
                    display: flex;
                    align-items: center;
                    input[type="checkbox"] {
                        position: relative;
                        width: 1rem;
                        height: 1rem;
                        cursor: pointer;
                        border: 2px solid var(--body-text);
                        border-radius: 3px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        cursor: pointer;
                        &::after {
                            font-family: "Font Awesome 6 Free";
                            font-size: 0.8rem;
                            font-weight: 900;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            color: white;
                            //display: none;
                            content: "\f00c";
                            transform: translate(-50%, -50%);
                        }
                        &:checked {
                            background-color: #333;
                            border: #333;
                        }
                    }
                    label {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
                .forgot-password {
                    a {
                        text-decoration: none;
                        transition: all 0.3s ease;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
            .submit {
                padding: 10px 0px;
                width: 100%;
                .btn-submit {
                    width: 100%;
                    height: 3rem;
                    padding: 5px 15px 5px 15px;
                    border: none;
                    border-radius: 5px;
                    background-color: var(--primary);
                    cursor: pointer;
                    color: var(--white);
                    font-size: 0.9rem;
                    font-weight: 600;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: var(--primary-hover);
                    }
                }
            }
            .link-to-page {
                padding-top: 2.5rem;
                display: flex;
                justify-content: center;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                label {
                    margin-right: 0.5rem;
                    p {
                        font-weight: 500;
                        font-size: 0.9rem;
                    }
                }
                a {
                    text-decoration: none;
                    p {
                        font-weight: 600;
                        font-size: 0.9rem;
                        color: var(--primary);
                    }
                }
            }
        }
        .form-auth {
            width: 300px;

            @include md {
                width: 400px;
            }

            @include lg {
                width: 35rem;
                max-width: 500px;
            }
        }
        .form-verify {
            width: 250px;

            @include md {
                width: 300px;
            }

            @include lg {
                width: 28rem;
                max-width: 400px;
            }
            .d-flex-verify {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .input-item {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .inputbox {
                        padding: 1rem;
                        margin-right: 0px;
                        width: 3.5rem;
                        height: 3.5rem;
                        input {
                            margin-left: 0px;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            font-size: 1.31rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .err-msg {
            padding: 10px 0px;
            color: var(--remove);
            font-weight: 500;
            font-size: 0.85rem;
        }
    }
}
::-webkit-scrollbar-track {
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    //background-color: none;
    background-color: var(--primary);
    transition: all 0.3s ease;
}
